.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.9rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-primary);
  flex-shrink: 0;
}

.title::after {
  content: '';
  display: block;
  width: 3.8rem;
  height: 2px;
  background-color: var(--color-primary);
  margin-top: 0.8rem;
}

.list {
  display: flex;
  font-size: 1.6rem;
  gap: 1.8rem;
  padding: 2rem 0;
  flex-shrink: 0;
  list-style-type: none;
  padding: 0;
  color: var(--color-gray-light);
  overflow: auto;
  /* max-width: 64%; */
}

.list::-webkit-scrollbar {
  display: none;
}

.item {
  flex-shrink: 0;
  cursor: pointer;
}
