:root {
  --font-family: 'Raleway', sans-serif;
  --font-family-secondary: 'Poppins', sans-serif;
  --font-size: 1.6rem;
  --font-weight: 400;
  --line-height: 1.5;
  --color-primary: #17a030;
  --color-secondary: #1b153d;
  --color-white: #ffffff;
  --color-gray: #9e9fa3;
  --color-gray-light: rgba(158, 159, 163, 0.65);
  --color-gray-lighter: #f1f1ff;
  --background-color: ##f1f1ff;
  --border-color: rgba(158, 159, 163, 0.5);
  --placeholder-color: rgba(27, 21, 61, 0.55);
  --card-shadow: 0px 20px 35px rgba(23, 20, 57, 0.04);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: var(--font-family);
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--font-color);
  line-height: var(--line-height);
  font-size: var(--font-size);
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}

.headline {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 1.6rem;
  line-height: 1.3;
}
