.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.info {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  line-height: 1.8rem;
  letter-spacing: -0.24px;
}

.brand {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--color-gray);
}

.price {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--color-primary);
  letter-spacing: -0.24px;
  font-family: var(--font-family-secondary);
}
