.wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  height: 100%;
  padding: 1.6rem 1.6rem 1.6rem 5.6rem;
  border: 1px solid var(--border-color);
  border-radius: 4rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: var(--font-color);
  background-color: #fff;
  font-family: var(--font-family);
  letter-spacing: -0.24px;
}

.input:focus {
  outline: none;
  border-color: var(--color-secondary);
}

.input::placeholder {
  color: var(--placeholder-color);
}

.icon {
  position: absolute;
  display: inline-flex;
  left: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: #000;
}
