.searchList {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  font-size: 1.4rem;
  padding-bottom: 1.6rem;
  border-bottom: 2px solid var(--color-gray-lighter);
}

.title {
  color: var(--color-gray-light);
  font-weight: 400;
}

.clear {
  cursor: pointer;
  font-family: var(--font-family);
  background-color: transparent;
  color: var(--color-gray-light);
  border: none;
}

.list {
  padding: 1.6rem 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.8rem 0;
  color: var(--color-secondary);
}

.text {
  line-height: 2.2rem;
  letter-spacing: 0.03em;
}

.recent {
  max-height: 20rem;
  overflow-y: auto;
}
